doctype

html
    head
        include ./head.pug
        link(href='./../public/css/app.css', rel='stylesheet')

    body
        include ./navbar.pug

        div.container
                br
                p Showing your sheduled events:

                button#submit.btn.btn-primary.btn-md.pull-right(type='button', data-toggle='modal', data-target='#confModal') Add Event
                
                h2.primary_font Scheduled Events
                .list-group
                    if pageData && pageData.schedules
                        for event in pageData.schedules
                            if event.attende
                                a.list-group-item(href='#',id=event._id,style="background-color:#337AB7;color: #FFFFFF;") #{event.time} 
                                    strong.pull-right CONFIRMED: #{event.attende}
                            else
                                a.list-group-item(href='#',id=event._id) #{event.time}

        .container
            include ./add_event.pug
    
